.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color:  blueviolet;
    flex-wrap: wrap;
}
#iten1{
    border: solid 2px gold;
    height: 20%;
    width: 100%;
    display: flex;
}
#elemento1{
    border: solid 2px gold;
    height: 100%;
    width: 25%;
}
#iten2{
    border: solid 2px gold;
    height: 20%;
    width: 100%;
}
#elemento2{
    border: solid 2px gold;
    height: 100%;
    width: 25%;
}
#iten3{
    border: solid 2px gold;
    height: 20%;
    width: 100%;
}
#elemento3{
    border: solid 2px gold;
    height: 100%;
    width: 25%;
}
#iten4{
    border: solid 2px gold;
    height: 20%;
    width: 100%;
}
#elemento4{
    border: solid 2px gold;
    height: 100%;
    width: 25%;
}
#iten5{
    border: solid 2px gold;
    height: 20%;
    width: 100%;
}
